### LISTAS

In [1]:
mi_lista = [1,2,3]

In [2]:
# Podemos reasignar sus valores
mi_lista = ['Una string',23,100.232,'o']

In [3]:
mi_lista

['Una string', 23, 100.232, 'o']

In [4]:
# Podemos medir su longitud
len(mi_lista)

4

In [5]:
# Podemos acceder a partes de la lista
mi_lista[0]

'Una string'

In [6]:
mi_lista[1:]

[23, 100.232, 'o']

In [7]:
mi_lista[:3]

['Una string', 23, 100.232]

In [8]:
# Podemos añadir nuevos elementos o concatenar
mi_lista + ['nuevo']

['Una string', 23, 100.232, 'o', 'nuevo']

In [9]:
mi_lista

['Una string', 23, 100.232, 'o']

In [10]:
# Añadir la información a ella misma para que se guarde la info
mi_lista = mi_lista + ['nuevo elemento']

In [11]:
mi_lista

['Una string', 23, 100.232, 'o', 'nuevo elemento']

In [12]:
# Otra forma de concatenar
mi_lista.append('otro')

In [13]:
# Podemos aumentar su tamaño
mi_lista*2

['Una string',
 23,
 100.232,
 'o',
 'nuevo elemento',
 'otro',
 'Una string',
 23,
 100.232,
 'o',
 'nuevo elemento',
 'otro']

In [14]:
# Podemos quitar el último elemento (permanentemente)
mi_lista.pop()
mi_lista

['Una string', 23, 100.232, 'o', 'nuevo elemento']

In [15]:
# Podemos darle la vuelta a la lista con reverse(). De forma permanente. 
# Si metes un índice dentro de los parentesis puedes quetar algo en específico 
mi_lista.reverse()
mi_lista

['nuevo elemento', 'o', 100.232, 23, 'Una string']

In [16]:
# Podemos ordenarla una lista alfabéticamente o numéricamente
prueba = [5,1,6,100,34]
prueba.sort()
prueba

[1, 5, 6, 34, 100]

In [17]:
# Hacemos una matriz
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
# Para acceder a datos
matrix[0]

[1, 2, 3]

In [22]:
matrix[1][1]

5

In [19]:
matrix[0][0]

1

In [23]:
# List comprehensions. Aquí lo que estamos haciendo es sacar el primer elemento de matrix
first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

### DICCIONARIOS

In [24]:
# Para acceder al valor 1 hay que primero acceder a la llave 
# Podemos meter todos los valores que queramos en una llave
mi_dict = {'key1':'value1','key2':'value2'}
mi_dict

{'key1': 'value1', 'key2': 'value2'}

In [25]:
mi_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
mi_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [26]:
# Vamos a acceder a los elementos de un diccionario
mi_dict['key1']

123

In [27]:
mi_dict['key3'][0]

'item0'

In [28]:
# Podemos incluso llamar a funciones sobre esos valores
mi_dict['key3'][0].upper()

'ITEM0'

In [29]:
mi_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [30]:
# Podemos cambiar los valores de las keys
mi_dict['key1'] = mi_dict['key1'] - 123
mi_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [31]:
# El += significa sumate a ti mismo - mas eficiente que el de arriba
mi_dict['key1'] += 123
mi_dict['key1']

123

In [32]:
# Podemos crear nuevas keys
d = {}
d['animal'] = 'Perro'
d['respuesta'] = 42
d

{'animal': 'Perro', 'respuesta': 42}

In [33]:
# Podemos meter un diccionario dentro de otro
d['nestedKey']=mi_dict
d

{'animal': 'Perro',
 'respuesta': 42,
 'nestedKey': {'key1': 123,
  'key2': [12, 23, 33],
  'key3': ['item0', 'item1', 'item2']}}

In [34]:
# Podemos devolver todas las keys
d.keys()

dict_keys(['animal', 'respuesta', 'nestedKey'])

In [35]:
# Podemos devolver todos los valores (como tuplas, ¡ya lo veremos!)
d.items()

dict_items([('animal', 'Perro'), ('respuesta', 42), ('nestedKey', {'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']})])

### TUPLAS

In [36]:
# Las listas se pueden modificar y las tuplas no 
t = (1,2,3)
len(t)

3

In [37]:
t

(1, 2, 3)

In [38]:
# Las tuplas pueden tener elementos de distinto tipo
t = ('uno',2)
t

('uno', 2)

In [39]:
# Podemos acceder a sus elementos pero no cambiarlos, se accede con corchetes
t[0]

'uno'

In [40]:
t[0]=0

TypeError: 'tuple' object does not support item assignment

In [41]:
# Nos muestra el último elemento 
t[-1]

2

In [42]:
# Usamos index() para retornar el valor de un índice - para encontrar la posición un elemento
t.index('uno')

0

In [43]:
# También podemos contar el número de veces que aparece un item en la tupla
t.count('uno')

1

In [44]:
# Las tuplas tampoco pueden crecer
t.append('tres')

AttributeError: 'tuple' object has no attribute 'append'

### SETS

In [45]:
# El set es un vector de valores únicos 
x = set()
type(x)

set

In [46]:
# Añadimos elementos con .add(). ¡Fíjate en los corchetes!!!! Como las keys de los diccionarios
x.add(1)
x

{1}

In [47]:
x.add(2)
x

{1, 2}

In [48]:
# No nos deja añadir duplicados. Solo deja uno de cada uno, sirve para quitar duplicados 
x.add(1)
x

{1, 2}

In [49]:
# Fíjate que nos elimina los duplicados!
list1 = [1,1,2,2,3,4,5,6,1,1]
set(list1)

{1, 2, 3, 4, 5, 6}

### BOOLEANS

In [50]:
# Añadimos el valor true a una variable 
a = True
type(a)

bool

In [51]:
# Aquí la salida sería el booleano
1>2

False

In [52]:
# None nos sirve para no assignar un tipo de objeto
b = None
type(b)

NoneType

In [53]:
# Comparaciones igualdad
2==2

True

In [54]:
1==0

False

In [55]:
# No igualdad
2 != 1

True

In [56]:
# Mayor o menor que
2<4

True

In [57]:
# Mayor o menor o igual que
2 <=2

True

In [58]:
# También podemos encadenar operadores de comparación
1 < 2 < 3

True

In [59]:
# O podemos usar AND. Ambas condiciones debe ser verdad 
1<2 and 2<3

True

In [60]:
# También podemos usar OR. Solo necesita que una de las condicones sea verdad
1 == 2 or 2 <3

True